.product{
    display: flex;
    border-bottom: 1px solid teal;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.product-name{
    color: violet;
    font-weight: 500;
}
.main-button{
    background-color: tomato;
    width: 150px;
    height: 30px;
    border: 2px solid red;
    border-radius: 5px;
    cursor: pointer;
}